#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export QT_SELECT=QT4
export DPKG_GENSYMBOLS_CHECK_LEVEL=4

override_dh_auto_configure:
	dh_auto_configure -- LIBDIR=/usr/lib "QMAKE_CXXFLAGS=$(CFLAGS)" signon-oauth2.pro

override_dh_install:
	rm -f debian/tmp/etc/signon-ui/webkit-options.d/*
	dh_install --fail-missing

override_dh_auto_test:
	xvfb-run dbus-test-runner -t dh_auto_tests

%:
	dh $@
